label 
  {
        color:white;
  }
 input
  {
    width: 100%;
  }
h1
  {
    font-size: 4em;
        color:green;
        font-family: 'K2D', Arial, sans-serif;
	    line-height: 1.5; /*perfect fifth modular scale. */
  }
  p 
  {
        color:red;
        font-family: 'K2D', Arial, sans-serif;
        font-size: 2.25em;
	     line-height: 1.5; /*perfect fifth modular scale.*/
  }
@media screen and (min-width: 700px) 
  {
 body 
    {
   background-image: url("images/Purged.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
}
@media screen and (max-width: 699px) 
  {
 body 
    {
   background-image: url("images/first_purge.jpg");
    background-size: cover;
    }
}
.slideshow 
  { 
    margin: 4px auto; 
    position: relative; 
    width: 30px; 
    height: 25px; 
    padding: 2px; 
    box-shadow: 0 0 1px rgba(1,1,1,0.4); 
  }
.slideshow > div 
  { 
    position: absolute;  
  }
#first_slide
  {
	width: 900px; 
	height: 650px; /*This is how to center an object in CSS.*/
	display: block; 
    margin-left: auto;
    margin-right: auto;
  }
#second_slide
  {
	width: 900px; 
	height: 650px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#third_slide
  {
	width: 900px; 
	height: 650px; 
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#closer
  {
	width: 800px;
	height: 550px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#loot
  {
	width: 900px; 
	height: 650px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#kukri
  {
	width: 400px; 
	height: 500px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#rifle
  {
	width: 300px; 
	height: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
