label 
  {
        color:white;
  }
 input
  {
    width: 100%;
  }
h1
  {
    font-size: 4em;
        color:green;
        font-family: 'K2D', Arial, sans-serif;
	    line-height: 1.5; /*perfect fifth modular scale. */
  }
  p 
  {
        color:red;
        font-family: 'K2D', Arial, sans-serif;
        font-size: 2.25em;
	     line-height: 1.5; /*perfect fifth modular scale.*/
  }
@media screen and (min-width: 700px) 
  {
 body {background-color: coral;}
}
@media screen and (max-width: 699px) 
  {
 body 
body {background-color: black;}
}
#closer
  {
	width: 35%; 
	height: 550px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#loot
  {
	width: 45%;  
	height: 650px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
#kukri
  {
	width: 20%; 
	height: 500px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#rifle
  {
	width: 15%;  
	height: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
  }
