
label 
  {
        color:white;
    }
h1
  {
    font-size: 3em;
        color:green;
        font-family: 'K2D', sans-serif;
    }
  p 
  {
        color:blue;
        font-family: 'K2D', sans-serif;
        font-size: 1.25em;
    }

@media screen and (max-width: 1024px) 
{
	label 
	{
        font-size: 2em;
    }
      input
  {
    width: 100%;
  }
}

@media screen and (min-width: 700px) 
{
 body 
 {
   background-image: url("../Image/Purged.png");
    background-repeat: no-repeat;
    background-size: cover;
 }
}

@media screen and (max-width: 699px) 
{
 body 
 {
   background-image: url("../Image/first_purge.jpg");
    background-size: cover;
 }

}
#slideshow 
{ 
    margin: 40px auto; 
    position: relative; 
    width: 220px; 
    height: 210px; 
    padding: 15px; 
    box-shadow: 0 0 25px rgba(1,2,3,0.4); 
}

#slideshow > div 
{ 
    position: absolute; 
    top: 11px; 
    left: 12px; 
    right: 13px; 
    bottom: 14px; 
}
